@using Diary.DTO;
@model RecordDTO

<div class="container mt-4">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class ="card">
				<div class="card-header bg-primary text-white">
					<h2>Create new health record</h2>
				</div>
				<div class=" card-body">
					<form asp-action="Create" method="post" enctype="multipart/form-data">

						@* Created *@

						<div class=" form-group mb-3" style="margin: 10px; text-align: center;">
							<label asp-for="Created" class="form-label">Date</label> 
							<input asp-for="Created" row="5" class="form-control" type="date" />
							<span asp-validation-for="Created" class="text-secondary"></span>
						</div>

						@* Physical State *@
						
						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="PhysicalState" class="form-label">Physical state</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="PhysicalState" name="PhysicalState">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="PhysicalState" class="text-secondary"></span>
						</div>

						@* Physical State Description*@
						
						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label asp-for="PhysicalDesc" class="form-label">Describe your today´s physical conditions</label>
							<input asp-for="PhysicalDesc" class="form-control" id="PhysicalDesc"
								   placeholder="Enter text" autocomplete="off" />
							<span asp-validation-for="PhysicalDesc" class="text-secondary"></span>
						</div>

						@* Mental State *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="MentalState" class="form-label">Mental State</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="MentalStateRange" name="MentalState">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="MentalState" class="text-secondary"></span>
						</div>

						@* Mental State description *@
						
						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label asp-for="MentalDesc" class="form-label">Describe your today´s mental conditions</label>
							<input asp-for="MentalDesc" class="form-control" id="PhysicalDesc"
								   placeholder="Enter text" autocomplete="off" />
							<span asp-validation-for="MentalDesc" class="text-secondary"></span>
						</div>

						@* Skin redness *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="SkinState1" class="form-label">Skin redness</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="SkinState1Range" name="SkinState1">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="SkinState1" class="text-secondary"></span>
						</div>

						@* Skin itchiness *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="SkinState2" class="form-label">Skin itchiness</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="SkinState2Range" name="SkinState2">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="SkinState2" class="text-secondary"></span>
						</div>

						@* Skin swelling *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="SkinState3" class="form-label">Skin swelling</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="SkinState3Range" name="SkinState3">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="SkinState3" class="text-secondary"></span>
						</div>

						@* Skin dryness *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="SkinState4" class="form-label">Skin dryness</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="SkinState4Range" name="SkinState4">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="SkinState4" class="text-secondary"></span>
						</div>

						@* Skin wetting *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="SkinState5" class="form-label">Skin wetting</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="SkinState5Range" name="SkinState5">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="SkinState5" class="text-secondary"></span>
						</div>

						@* Skin state description *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;" >
							<label asp-for="SkinStateDesc" class="form-label" >Describe your today´s skin conditions</label>
							<input asp-for="SkinStateDesc" class="form-control" id="SkinStateDesc"
								   placeholder="Enter text" autocomplete="off" />
							<span asp-validation-for="SkinStateDesc" class="text-secondary"></span>
						</div>

						@* Digesting *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="Digesting" class="form-label">Digesting</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="5" step="1" id="DigestingRange" name="DigestingRange">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>5</span>
								</div>
							</div>
							<span asp-validation-for="Digesting" class="text-secondary"></span>
						</div>

						@* Digesting description *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;" >
							<label asp-for="DietDesc" class="form-label" >Describe your today´s diet</label>
							<input asp-for="DietDesc" class="form-control" id="DietDesc"
								   placeholder="Enter text" autocomplete="off" />
							<span asp-validation-for="DietDesc" class="text-secondary"></span>
						</div>

						@* Menstruation *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							<label for="Menstruation" class="form-label">Menstruation</label>
							<div style="position: relative;">
								<input type="range" class="form-range" min="1" max="4" step="1" id="MenstruationRange" name="MenstruationRange">
								<div style="display: flex; justify-content: space-between; position: absolute; width: 100%; top: 25px;">
									<span>1</span>
									<span>4</span>
								</div>
							</div>
							<span asp-validation-for="Menstruation" class="text-secondary"></span>
						</div>

						@* Medication description *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;" >
							<label asp-for="MedicationDesc" class="form-label" >Describe your today´s medication</label>
							<input asp-for="MedicationDesc" class="form-control" id="MedicationDesc"
								   placeholder="Enter text" autocomplete="off" />
							<span asp-validation-for="MedicationDesc" class="text-secondary"></span>
						</div>

						@* Sport activity *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							@* <label asp-for="IsSportActivity" class="form-label">Sport activity</label> *@
							<div class="form-check form-switch">
								<input asp-for="IsSportActivity" class="form-check-input" type="checkbox" id="SportActivitySwitch">
								<label class="form-check-label" for="SportActivitySwitch">Sport Activity</label>
							</div>
							<span asp-validation-for="IsSportActivity" class="text-secondary"></span>
						</div>

						@* Sex activity *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							@* <label asp-for="IsSexActivity" class="form-label">Sex activity</label> *@
							<div class="form-check form-switch">
								<input asp-for="IsSexActivity" class="form-check-input" type="checkbox" id="SexActivitySwitch">
								<label class="form-check-label" for="SexActivitySwitch">Sex Activity</label>
							</div>
							<span asp-validation-for="IsSexActivity" class="text-secondary"></span>
						</div>

						@* Alcohol consumption *@

						<div class="form-group mb-3" style="margin: 10px; text-align: center;">
							@* <label asp-for="IsAlcohol" class="form-label">Alcohol consumption</label> *@
							<div class="form-check form-switch">
								<input asp-for="IsAlcohol" class="form-check-input" type="checkbox" id="AlcoholConsumptionSwitch">
								<label class="form-check-label" for="AlcoholConsumptionSwitch">Alcohol consumption</label>
							</div>
							<span asp-validation-for="IsAlcohol" class="text-secondary"></span>
						</div>

						@* Photo *@

						<div class="input-group mb-3" style="margin: 10px; text-align: center;">
							<label for="inputGroupFile01" class="form-label">Upload today´s photo of your skin</label>
							<div class="input-group">
								<input type="file" name="photoFile" asp-for="Photo" class="form-control" id="inputGroupFile01">
	
							</div>
							<span asp-validation-for="Photo"></span>
						</div>

						<div class="d-flex justify-content-between" style="margin: 10px">
							<button type="submit" class="btn btn-primary">Create</button>
							<a asp-controller="RecordEntries" asp-action="Index" class="btn btn-secondary">Cancel</a>
						</div>
					</form>
				</div> 
			</div>
		</div>
	</div>
</div

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}