@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))

    {
        <li class="nav-item">
            <a class="btn btn-outline-primary btn-sm ms-2" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }

    else

    {
        <li class="nav-item">
            <a class="btn btn-outline-primary btn-sm ms-2" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn-sm ms-2 text-white" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
