@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome in MySkinDiary</h1>
<br />
<p>
    MySkinDiary is your personal health tracker dedicated to record all of your necessary health <br />
    data needed to stabilize your harsh skin condition. In upcoming versions various measuring methods <br />
    will be added as well as connectivity with numerous wearable devices. <br />
    <br />
    <strong>Most recent challenges</strong><br />
    <ul>
        <li>Solve problems with showing charts</li>
        <li>Add registration thru web form</li>
    </ul>
    <br />
    For more information contact developer: <strong>kolibal.m@gmail.com</strong>
</p>
